*{
    font-family: Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #101016;
    color: #ffffff;
}

.icon-social{
    display: flex;
    justify-content: flex-end ;
    gap: 15px;
    margin: 15px 20px 0 0;
    font-size: 30px;
    position: relative;
}   

a{
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

a:hover{
    color: #ffc963;
    transition: 0.3s;
}

img#logo{
    height: 30%;
    width: 30%;
    display: inline-block;
    position: relative;
    padding: 0 0 0 100px;
}

.caixa{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: -55px;
}

.menu{
    display: flex;
    gap: 10px;    
    list-style-type: none;
    text-align: center;
    margin: 90px 170px 0 0;
    font-size: 23px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

img#banner{
    height: 100%;
    width: 99.55%;
    border-color: #000000;
    border-style: solid;
}

section#sobre{
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
    background: linear-gradient(#101016,#da7400);
}

img#burguersobre{
    height: 650px;
    margin: 0 100px 0 0;
    border-radius: 10px;
    transition: 0.3s;
    border-color: #000000;
    border-style: solid;
}

img#burguersobre:hover{
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}

.textosobre{
    margin: 40px 100px 0 100px;
}

.titulosobre{
    margin: 0 0 10px 0;
}

.paragrafosobre{
    margin: 0 0 10px 0;
}

/*Cardapio*/

section#cardapio{
    padding: 150px 0 0 0;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(#da7400,#611818);
}

.cardapio{
    font-size: 50px;
    margin: -75px 0 0 520px;
    position: absolute;
    color: #000000;
}

.cardapio:hover{
    cursor: pointer;
}

img#burguer{
    height: 210px;
    width: 340px;
    margin: 50px 100px 7px 50px;
    border-radius: 10px;
    border-color: #101016;
    border-style: solid;
    transition: 0.3s;
}

img#burguer:hover{
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}

.textocardapio{
    color: #000000;
    padding: 80px 50px 0 0;
    font-weight: bold;

}

.titulocardapio{
    position: relative;
    margin: 0 0 10px 0;
}

.paragrafocardapio{
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 0 150px 0;
}

/*Contato*/


.contato{
    font-size: 32px;
    color: #ccb950;
    
}

.contato:hover{
    cursor: pointer;
}

.burguer-footer{
    background-image: url("bg.jpg");
    display: flex;
    justify-content: space-evenly;
    padding: 15px 150px 15px 20px;
    gap: 300px;
    margin-bottom: -40px;
}

.message-contato{
    display: flex;
    flex-direction: column;
}

img#logo-footer{
    height: 220px;
    margin: 0 25px 0 0;
}

.input-contato{
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 0 0 3px 0;
}

.input-email{
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 0 0 3px 0;
}

.input-message{
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 0 0 3px 0;
}

.enviar{
	margin: 5px 0;
    width: 100%;
	padding: 15px;
	background: orange;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	border: None;
	border-radius: 4px;
	transition: 1s all;
	cursor: pointer;
    position: relative;
}

.enviar:hover{
	background: darkorange;
	transform: scale(1.06);
}

.copyright{
    text-align: center;
    padding: 10px 0;
    background-image: url('bg.jpg');
}

/* Responsividade */
@media screen and (max-width: 900px) {
*{
    padding: 0px;
    margin: 0px;
}

.icon-social{
    font-size: 35px;
}

.caixa{
    display: flex;
    flex-direction: column;
}

img#logo{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 25px 0 -25px 0;
    padding: 0;
}

.menu{
	text-align: center;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0 0 20px 19px;
    font-size: 25px;
    gap: 0px;
}

img#banner{
    width: 98%;
}

section#sobre{
    margin: 30px 0 0 0;
    text-align: center;
    padding: 0px;
}

img#burguersobre{
    display: none;
}

section#cardapio{
    display: inline-block;
    justify-content: center;
}

.cardapio{
    margin: -100px 0 0 68px;
    display: flex;
}

.textocardapio{
    text-align: center;
    padding-left: 38px;
    display: flex;
    flex-direction: column;
}

.titulocardapio{
    text-align: center;
    position: relative;
    margin: 0 0 10px 0;
}

img#burguer{
    margin: 0 10px 200px 10px;
    display: flex;
}

img#logo-footer{
    display: none;
}

.burguer-footer{
    justify-content: center;
}
.message-contato{
    justify-content: center;
    margin: 0 0 30px 135px;
    position: relative;
}
}
